/* CSS Reset */
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

/* Generics */
body {
    font-family: sans-serif;
}

img {
    max-width: 100%;
    vertical-align: middle;
}

/* Utilities */
.container {
    max-width: 1200px;
    width: 90%;
    margin: 0 auto;
}

.row {
    display: flex;
    flex-wrap: wrap;
    align-items: stretch;
    margin: 0 -1rem;
}

.col {
    padding: 1rem;
    width: calc(100% / 12 * 4);

    @media screen and (max-width: 1150px) {
        .card {
            .card-info {
                span {
                    font-size: 1rem;
                }
            }
        }
    }

    @media screen and (max-width: 1024px) {
        width: calc(100% / 12 * 6);
    }

    @media screen and (max-width: 768px) {
        width: calc(100% / 12 * 12);
        padding: 2rem;
    }
}

/* Title */
.title {
    display: flex;
    flex-direction: column;
    gap: 2rem;
    align-content: center;
    padding: 3rem 0rem;

    h1 {
        text-align: center;
        font-weight: 800;
        color: #E53170;
    }

    p {
        text-align: center;
        font-size: 1.1rem;
    }
}

/* Card */
.card {
    display: flex;
    background-color: black;
    color: white;

    .card-image {
        width: 30%;
    }

    .card-info {
        width: 70%;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        padding: 1rem;

        span:first-of-type {
            font-weight: 900;
            text-transform: uppercase;
        }

        a {
            color: #5CB4BF;
            text-decoration: none;
        }

        @media screen and (max-width: 768px) {
            justify-content: center;
        }
    }

    @media screen and (max-width: 380px) {
        flex-direction: column;

        .card-image {
            width: 100%;

            img {
                width: 100%;
            }
        }

        .card-info {
            width: 100%;
        }
    }
}

/* Add Member Section */
.add-member-section {
    display: flex;
    flex-direction: column;
}