/* CSS Reset */
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

/* Generics */
body {
    font-family: sans-serif;
}

img {
    max-width: 100%;
    vertical-align: middle;
}

/* Utilities */
.container {
    max-width: 1200px;
    width: 90%;
    margin: 0 auto;
}

.row {
    display: flex;
    flex-wrap: wrap;
    align-items: stretch;
}

.col {
    flex-basis: auto;
}

.col-1 {
    width: calc(100% / 12 * 1);
}

.col-2 {
    width: calc(100% / 12 * 2);
}

.col-3 {
    width: calc(100% / 12 * 3);
}

.col-4 {
    padding: 1rem;
    width: calc(100% / 12 * 4);
}

.col-5 {
    width: calc(100% / 12 * 5);
}

.col-6 {
    width: calc(100% / 12 * 6);
}

.col-7 {
    width: calc(100% / 12 * 7);
}

.col-8 {
    width: calc(100% / 12 * 8);
}

.col-9 {
    width: calc(100% / 12 * 9);
}

.col-10 {
    width: calc(100% / 12 * 10);
}

.col-11 {
    width: calc(100% / 12 * 11);
}

.col-12 {
    width: calc(100% / 12 * 12);
}

/* Card */
.card {
    display: flex;
    background-color: black;
    color: white;

    .card-image {
        width: 30%;
    }

    .card-info {
        width: 70%;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        padding: 1rem;

        span:first-of-type {
            font-weight: 900;
            text-transform: uppercase;
        }

        a {
            color: #5CB4BF;
            text-decoration: none;
        }
    }
}